@using MarketPlace.ViewModels.Orders
@model List<CartSummaryViewModel>

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <li>
            <span class="item">
                <span class="item-left">
                    <img src="@Url.Content(item.Thumbnail)" class="img-circle" height="40" width="40" />
                    <span class="item-info">
                        @if (item.Title.Length > 25)
                        {
                            <span>@item.Title.Substring(0, 25)</span>
                        }
                        else
                        {
                            <span>@item.Title</span>
                        }
                        <span>@item.Price</span>
                    </span>
                </span>
                <span class="item-right">
                    <span class="button text-danger pull-right">x</span>
                </span>
            </span>
        </li>
    }
}