@using MarketPlace.ViewModels.Orders
@model List<CartSummaryViewModel>

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <li>
            <span class="item">
                <span class="item-left">
                    <img src="@Url.Content(item.Thumbnail)" height="50" width="50" />
                    <span class="item-info">
                        @if (item.Title.Length > 10)
                        {
                            <span>@item.Title.Substring(0, 10)</span>
                        }
                        else
                        {
                            <span>@item.Title</span>
                        }
                        <span>@item.Price</span>
                    </span>
                </span>
                <span class="item-right">
                    <button class="btn btn-xs btn-danger pull-right">x</button>
                </span>
            </span>
        </li>
    }
}