<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


@{
    Layout = null;
}
<div class="container">
    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>My Profile -> Account setting</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Change Email ID</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="your current email " class="form-control input-md">
                    <span class="help-block">your new email ID</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Change address</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="Address" class="form-control input-md">
                </div>

            </div>
            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="passwordinput">Old password</label>
                <div class="col-md-4">
                    <input id="passwordinput" name="passwordinput" type="password" placeholder="new password" class="form-control input-md">

                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="passwordinput">new password</label>
                <div class="col-md-4">
                    <input id="passwordinput" name="passwordinput" type="password" placeholder="new password" class="form-control input-md">

                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="passwordinput">repeat password</label>
                <div class="col-md-4">
                    <input id="passwordinput" name="passwordinput" type="password" placeholder="repeat password" class="form-control input-md">

                </div>
            </div>

            <!-- Select Basic -->
            <!-- Button -->
            <div class="row">
                <div class="col-md-6">
                   
                </div>
                <div class="col-md-6">
                    <div class="actions">
                        <button class="btn btn-success" data-target="" data-toggle="#">
                        <span class="glyphicon glyphicon-record"></span> Save Changes
                        </button>
                    </div>
                </div>
            </div>

            <!-- Button -->
           

        </fieldset>
    </form>

</div>