@{
    ViewBag.Title = "Admin";
}

@*<div class="row">

        <div class="col-lg-offset-1 col-lg-9"  style="background: yellowgreen;height: 100px">

        </div>
    </div>
    <br />
    <br />*@
<br />
<div class="row">
    <div class="col-lg-10">
        <div class="row">


            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        All Sellers

                        <span class="label label-warning pull-right">10</span>
                    </div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        All Recipes
                        <span class="label label-warning pull-right">10</span>
                    </div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        All Orders
                        <span class="label label-warning pull-right">10</span>
                    </div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="panel panel-default">
            <div class="panel-heading">Active Users</div>
            <div class="panel-body active-user-area" style="height: 300px">
               

            </div>
        </div>
    </div>
</div>