@{
    ViewBag.Title = "AddCategory";
}
 <div class="container" >
     <script src="~/Scripts/Admin/admin-actions.js"></script>
 @using (Html.BeginForm("AddCategory", "Admin", FormMethod.Post, new { @class = "form-horizontal form-heading ", enctype = "multipart/form-data" }))
   { 

         <div class="col-md-offset-3 col-md-6" style="background-color:#e2e1e1">
             <h4>Add Category</h4>

             <div class="form-group">
                 <div class="input-group-text">
                     <input type="text" placeholder="Enter Category" class="form-control" name="name" />
                     @* @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Your Email" } })*@
                 </div>
             </div>
             <br />
             <div class="form-group">
                 <div class="input-group-btn">
                     <input type="submit" value="Add" class="btn btn-success">
                 </div>
             </div>
             <div>
                 <a href="#" class="admin-action" data-area="Administration" data-controller="Admin" data-action="ListOfCategory">Back to List</a>

                 <br />
                 <br />

             </div>
         </div>
   }
 </div>

