<style>

    h3 {
        color: #FE980F;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: bold;
    }
</style>

@using MarketPlace.Entities.Advertisements;
@model Advertisement
<a href="#">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <div class="well well-default product-card">
            <div class="row" style="height: 190px;">
                <div class="thumbnail product-card-img">
                    <img src="@Url.Content(Model.Images[0].Url)" class="img-responsive" style="height: 120px;" />
                </div>
            </div>
            <div class="row">
                <h3 class="center-block text-center">
                    Rs.@Model.Price.ToString("00")
                </h3>
            </div>
            <div class="row">
                <span class="center-block text-center" style="font-weight: bold;font-size: 16px;color: #777;" title="@Model.Title">
                    @if (Model.Title.Length > 35)
                    {
                        <span>@Model.Title.Substring(0, 35)</span>
                    }
                    else
                    {
                        <span>@Model.Title</span>
                    }
                </span>
            </div>
            <br />
            <div class="row" style="background: #f5f5f5a1;">
                <div class="col-lg-5" style="padding-left:7px">
                    <span>
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        <span style="font-size:10px">add to cart</span>
                    </span>
                </div>
                <div class="col-lg-5" style="padding:0">
                    <span onclick="onFavoriteButtonClick()" onmouseover="onFavoriteButtonMouseOver()" id="fav-btn">
                        <span class="glyphicon glyphicon-heart-empty"></span>
                        <span style="font-size:10px">add to wishlist</span>
                    </span>
                </div>
                <div class="col-lg-2">
                    <span>
                        <img src="/content/images/1.png" style="height: 20px;width: 20px;    border-radius: 20px;     border: 1px solid #ddd;">
                    </span>
                </div>
            </div>
        </div>
    </div>
</a>
