
<footer id="footer-section">
    <div class="footer footer-v2">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div id="houzez_about_widget-3" class="footer-widget widget-about">
                        <div class="widget-top"><h3 class="widget-title" style="font-family: calibri">About Site</h3></div>
                        <div class="widget-body">

                            <p style="color:white">iMarketPlace for real business where modern aesthetics are combined with tasteful simplicity.</p>
                            <p class="read"><a href="#">Read more <i class="fa fa-caret-right"></i></a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div id="houzez_contact-5" class="footer-widget widget-contact">
                        <div class="widget-top"><h3 class="widget-title" style="font-family: calibri">Contact Us</h3></div>
                        <div class="widget-body">
                            <p></p>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-location-arrow"></i>Cross Trainings, Lahore PK 5600</li>

                                <li><i class="fa fa-phone"></i> Call us FREE 0345442815</li>

                                <li><i class="fa fa-envelope-o"></i> <a href="mailto:email@email.com">support@crosstrainings.com</a></li>
                            </ul>
                            <p class="read"><a href="#">Contact us <i class="fa fa-caret-right"></i></a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div id="mc4wp_form_widget-2" class="footer-widget widget_mc4wp_form_widget">
                        <div class="widget-top"><h3 class="widget-title" style="font-family: calibri">Newsletter Subscribe</h3></div>
                        <div class="mc4wp-form-fields">
                            <div class="table-list">
                                <div class="form-group table-cell">
                                    <div class="input-email input-icon">
                                        <input class="form-control" type="email" name="EMAIL" required placeholder="Enter your email">
                                    </div>
                                </div>
                                <div class="table-cell">
                                    <button type="submit" class="btn" style="background: #77c720; height: 35px; margin-left: -6px;color:white">
                                        subscribe
                                    </button>
                                </div>
                            </div>

                            <ul class="social">
                                <li>
                                    <a href="#" class="btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn-twitter"><i class="fa fa-twitter-square"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn-google-plus"><i class="fa fa-google-plus-square"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn-linkedin"><i class="fa fa-linkedin-square"></i></a>
                                </li>
                            </ul><div style="display: none;"><input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></div><input type="hidden" name="_mc4wp_timestamp" value="1510725139" /><input type="hidden" name="_mc4wp_form_id" value="1251" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" />
                        </div><div class="mc4wp-response"></div>
                    </div>
                </div>


            </div>
            <div class="row">

                <div class="container col-lg-3 col-md-3 hidden-sm hidden-xs">
                    <a href="#" style="color: white">* Home</a> <br />
                    <a href="#" style="color: white">* About us</a> <br />
                    <a href="#" style="color: white">* Frequenctly asked questions</a> <br />
                    <a href="#" style="color: white">* Home</a> <br />
                    <a href="#" style="color: white">* About us</a> <br />
                    <a href="#" style="color: white">* Frequenctly asked questions</a>
                </div>

                <div class="container col-lg-3 col-md-3  col-sm-4 hidden-xs">
                    <a href="#" style="color: white">* Home</a> <br />
                    <a href="#" style="color: white">* About us</a> <br />
                    <a href="#" style="color: white">* Frequenctly asked questions</a> <br />
                    <a href="#" style="color: white">* Home</a> <br />
                    <a href="#" style="color: white">* About us</a> <br />
                    <a href="#" style="color: white">* Frequenctly asked questions</a>
                </div>

                <div class="footer_linkscontainer col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a href="#" style="color: white">* Blog</a> <br />
                    <a href="#" style="color: white">* Twitter</a> <br />
                    <a href="#" style="color: white">* Youtube</a> <br />
                    <a href="#" style="color: white">* Home</a> <br />
                    <a href="#" style="color: white">* About us</a> <br />
                    <a href="#" style="color: white">* Frequenctly asked questions</a>
                </div>
            </div>

        </div>
        <br /><br />

    </div>
</footer>