<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/content/styles/bootstrap.css" rel="stylesheet">
    <link href="~/content/styles/bootstrap-theme.css" rel="stylesheet">
</head>
<body>
    @RenderBody()
  
</body>
</html>