<div class="row" style="background:url('../../Content/images/banners/paymentMethod.png') no-repeat;
background-size:contain;background-position:center;
    height: 110px;
    border-top: 2px solid lightgray">
</div>