<ul class="list-group">
    <li class="text-center" style="list-style: none;
                    background: #CDDC39;
                    color: #4b55ba;
                    font-size: 10px;
                    font-weight: bold;"><span>Recently Viewed</span></li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-lg-5">
                <img src="/content/images/1.png" class="img-thumbnail img-responsive">
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <span style="font-size: 10px">Brand New Mobile</span><br>
                    <span style="font-size: 10px;">$ 1000.00</span><br>
                </div>
                <div class="row" style="margin-top: 5px">
                    <span class="label label-warning">contact</button>
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-lg-5">
                <img src="/content/images/1.png" class="img-thumbnail img-responsive">
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <span style="font-size: 10px">Brand New Mobile</span><br>
                    <span style="font-size: 10px;">$ 1000.00</span><br>
                </div>
                <div class="row" style="margin-top: 5px">
                    <span class="label label-warning">contact</button>
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-lg-5">
                <img src="/content/images/1.png" class="img-thumbnail img-responsive">
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <span style="font-size: 10px">Brand New Mobile</span><br>
                    <span style="font-size: 10px;">$ 1000.00</span><br>
                </div>
                <div class="row" style="margin-top: 5px">
                    <span class="label label-warning">contact</button>
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-lg-5">
                <img src="/content/images/1.png" class="img-thumbnail img-responsive">
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <span style="font-size: 10px">Brand New Mobile</span><br>
                    <span style="font-size: 10px;">$ 1000.00</span><br>
                </div>
                <div class="row" style="margin-top: 5px">
                    <span class="label label-warning">contact</button>
                </div>
            </div>
        </div>
    </li>

</ul>